# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*

# vercel
.vercel
app/users/.tmpfile
# typescript
*.tsbuildinfo
next-env.d.ts
app/layout.tsx
app/page.tsx
app/users/tmp
# app/user/
*test*
# 안쓰는 파일 
app/users/tmpGoogleAuthLogin.tsx
app/users/tmp_GoogleAuthLogin2.tsx
app/users/.UserAuthCP.tsx
app/users/.UserPopUp.tsx
dockerfile
tmp
test*

*copy*.tsx