@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #18181b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .overflow-scroll-gradient {
    --gradient-height: 10rem;

    -webkit-mask-image: linear-gradient(
      to bottom,
      /* transparent 0%,
      var(--foreground) var(--gradient-height), */
        var(--foreground) calc(100% - var(--gradient-height)),
      transparent 100%
    );
  }
}
